@model Prantor.MMS.Framework.Result<List<Prantor.MMS.Entities.ClassSectionSubject>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h1>Assign Subject To Class</h1>
<b>Search:</b>
<input value="@Request.Params["key"]" type="text" id="searchKey" />&nbsp;
<button class="btn btn-xs btn-default" onclick="SearchClick('@Url.Action("Index", "OtherUserClassSectionSubject", new { key = "" })')">Search</button>&nbsp;
<button class="btn btn-xs btn-default" onclick="RefreshClick('@Url.Action("Index", "OtherUserClassSectionSubject", new { key = "" })')">Refresh</button>&nbsp;
<a class="btn btn-xs btn-primary" href="@Url.Action("Add", "OtherUserClassSectionSubject")">Assign/Edit Subject</a>&nbsp;
<br />
<br />

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> @ViewBag.Error
    </div>
}

@if (Model.HasError)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> @Model.Message
    </div>
}

else
{
    <table class="table table-bordered table-hover">
        <tr>
            <td>
                <strong>Class Name</strong>

            </td>
            <td>
                <strong>Section Name</strong>
            </td>
            <td>
                <strong>Subject Name</strong>
            </td>
            <td>
                <strong>Action</strong>
            </td>

        </tr>
        @foreach (var _ClassSecSub in Model.Data)
        {

            try
            {
                if (@_ClassSecSub.MadrasaId == @Prantor.MMS.Web.Framework.HttpUtil.UserProfile.MadrasaID)
                {
                    <tr>

                        <td>@_ClassSecSub.ClassName</td>
                        <td>@_ClassSecSub.SectionName</td>
                        <td>@_ClassSecSub.SubjectName</td>
                        <td>
                            
                            <a class="btn btn-xs btn-danger" href="#" onclick="DeleteUserInfo('@Url.Action("Delete", "OtherUserClassSectionSubject", new { subName = _ClassSecSub.SubjectName, secId = _ClassSecSub.SectionID })')">Delete</a>
                        </td>
                    </tr>
                }

            }


            catch (Exception ex)
            {

            }



        }
    </table>
}

@section scripts
{
    <script>
        function SearchClick(url) {
            var value = $('#searchKey').val();
            url = url + '/Index/?key=' + value;
            window.location.href=url;
        }
        function RefreshClick(url) {
            var value = "";
            url = url + '/Index/?key=' + value;
            window.location.href=url;
        }
        function DeleteUserInfo(url) {

            if (confirm("Are you Sure?"))
                window.location.href = url;

        }
    </script>
}







