@model Prantor.MMS.Entities.Madrasa
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2 class="text-center">Create New Madrasa</h2>
@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> @ViewBag.Error
    </div>
}
else
{
    <style>
    .required::after {
        content: " *";
        color: red;
        font-size: 20px;
    }
</style>

    <div class="col-md-6 boxDiv" align="center">
        <br />
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> @ViewBag.Message
            </div>
        }

        @using (Html.BeginForm("Madrasa"))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "required" })
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Name" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
          
            <div class="form-group">
                @Html.LabelFor(m => m.Address, new { @class = "required" })
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control ", @placeholder = "Address" })
                @Html.ValidationMessageFor(m => m.Address)
            </div>    
            
            <div class="form-group">
                @Html.LabelFor(m => m.DirectorName, new { @class = "required" })
                @Html.TextBoxFor(m => m.DirectorName, new { @class = "form-control ", @placeholder = "director" })
                @Html.ValidationMessageFor(m => m.DirectorName)
            </div>    
            
            <div class="form-group">
                @Html.LabelFor(m => m.ContactNo, new { @class = "required" })
                @Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control digit", @placeholder = "contact number" })
                @Html.ValidationMessageFor(m => m.ContactNo)
            </div> 
                    
            <button type="submit" class="btn btn-primary">
                Save
            </button>
        }
        <br />
    </div>
   
}



@section scripts{
    <script>
        $(document).ready(function () {
            $("#madrasaMenu").addClass('active');
        });

        $(document).ready(function () {
            $(".digit").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    $("#errormsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
        });

    </script>


}




