@model Prantor.MMS.Model.ClassSectionModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<script src="~/Scripts/jquery-3.6.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetAssignedSections();
        $("#btnSave").click(function () {

            AddClassSections();
        });

        $("#btnSelectAll").click(function () {
            SelectAllSections();
        });

        $("#ddClass").change(function () {
            GetAssignedSections();
        });
       
    });

    function AddClassSections() {
        var listOfSectionId = [];

        $.each($("#tableSections input[type=checkbox]:checked"), function (index, data) {
            listOfSectionId.push($(this).val());

        });
        /*$.each($("#tableSections input[type=checkbox]:checked"), function (index, data) {
            if (data.checked === true) {
                var CourseId = $(this).val();
                var CourseName = $(this).attr('name');

                alert(CourseId + "  " + CourseName);
            }
        });*/
        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            url: '/OtherUserClass/Add',
            data: JSON.stringify({ classId: $("#ddClass").val(), listOfSectionId: listOfSectionId }),
            success: function (data) {
                if (data.success === true) {
                    alert(data.message);
                    //ResetCheckBox();
                    // $("#ddClass").val(data.id);
                    //  GetAssignedSections();
                }
            },
            error: function () {
                alert('There is some problem to process your request.');
            }
        });
    }

    function ResetCheckBox() {
        $.each($("#tableSections input[type=checkbox]:checked"), function (index, data) {
            $(this).prop('checked', false);
        });

    }

    function SelectAllSections() {
        var listOfSectionId = [];
        $.each($("#tableSections input[type=checkbox]"), function (index, data) {
            $(this).prop('checked', true);
        });
    }

    function GetAssignedSections() {
        var classId = $("#ddClass").val();
        $.ajax({
            async: true,
            type: 'POST',
            dataType: 'JSON',
            contentType: 'application/json; charset=utf-8',
            url: '/OtherUserClass/GetAssignedSections',
            data: JSON.stringify({ classId: classId }),
            success: function (data) {
                SetCheckedAndUnccheckedSections(data);
            },
            error: function () {
                alert('There is some problem to process your request.');

            }
        });
    }

    function SetCheckedAndUnccheckedSections(getData) {
        $.each($("#tableSections input[type=checkbox]"), function (index, data) {
            $(this).prop('checked', false);
        });
        $.each($("#tableSections input[type=checkbox]"), function () {
            var sectionId = $(this).val();

            var SectionData = $(this);
            $.each(getData.data, function (index, da) {
                var assignedSectionId = da.SectionID;
                if (sectionId == assignedSectionId) {
                    SectionData.prop('checked', true);
                }
            });
        });
    }



</script>

<h2 class="text-center">Assign Section to Class</h2>
<div class="row">
    <div class="col-md-3"></div>

    <div class="col-md-6 boxDiv" align="center">
        <br />
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { }))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.ClassId, new { @class = "control-label" })
                @Html.DropDownListFor(m => m.ClassId, Model.ListOfClasses, new { @class = "form-control", @id = "ddClass" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SectionId, new { @class = "control-label" })

                <table id="tableSections">
                    @foreach (var sections in Model.ListOfSections)
                    {
                        
                        <tr>
                            <td>
                                <input type="checkbox" name="@sections.SectionName" value="@sections.SectionId" checked="@sections.IsSelected" />  @sections.SectionName
                            </td>
                        </tr>

                    }
                </table>
            </div>
          <div>
                <input type="button" value="Save" name="Save" id="btnSave" class="btn btn-primary" />
                <input type="button" value="Select All" name="selectall" id="btnSelectAll" class="btn btn-primary" />
            </div>
        }
        <br />
    </div>
    <div class="col-md-3"></div>
</div>









