@model Prantor.MMS.Framework.Result<List<Prantor.MMS.Entities.Subject>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Subject Information</h2>
<b>Search:</b>
<input value="@Request.Params["key"]" type="text" id="searchKey" />&nbsp;
<button class="btn btn-xs btn-default" onclick="SearchClick('@Url.Action("Index", "OtherUserSubject", new { key = "" })')">Search</button>&nbsp;
<button class="btn btn-xs btn-default" onclick="RefreshClick('@Url.Action("Index", "OtherUserSubject", new { key = "" })')">Refresh</button>&nbsp;
<a class="btn btn-xs btn-primary" href="@Url.Action("Add", "OtherUserSubject", new { id = -1 })">Add</a>&nbsp;
<br />
<br />

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> @ViewBag.Error
    </div>
}

@if (Model.HasError)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Error!</strong> @Model.Message
    </div>
}

else
{
    <table class="table table-bordered table-hover">
        <tr>
            <td>
            <strong>ID</strong>
            </td>
            <td>
                <strong>Name</strong>
            </td>
            <td>
                <strong>SubjectType</strong>
            </td>
            <td>
                <strong>SubjectCode</strong>
            </td>            
            <td>
                <strong>Action</strong>
            </td>

        </tr>
        @foreach (var subject in Model.Data)
        {
            try
            {
                if (@subject.MadrasaId == @Prantor.MMS.Web.Framework.HttpUtil.UserProfile.MadrasaID)
                {
                    <tr>

                        <td>@subject.ID</td>
                        <td>@subject.Name</td>
                        @if (@subject.SubjectType == 0)
                        {
                            <td>Theory</td>
                        }
                        @if (@subject.SubjectType == 1)
                        {
                            <td>Practical</td>
                        }
                        <td>@subject.SubjectCode</td>
                        
                        <td>
                            <a class="btn btn-xs btn-info" href="@Url.Action("Edit", "OtherUserSubject", new { id = subject.ID })">Edit</a>  |
                            <a class="btn btn-xs btn-danger" href="#" onclick="DeleteSubject('@Url.Action("Delete", "OtherUserSubject", new { id = subject.ID })')">Delete</a>
                        </td>


                    </tr>
                }
            }
            catch (Exception ex)
            {

            }


        }






    </table>
}

@section scripts
{
    <script>
        function SearchClick(url) {
            var value = $('#searchKey').val();
            url = url + '/Index/?key=' + value;
            window.location.href=url;
        }
        function RefreshClick(url) {
            var value = "";
            url = url + '/Index/?key=' + value;
            window.location.href=url;
        }
        function DeleteSubject(url) {
            if(confirm("Are you Sure?"))
                window.location.href=url;
        }
    </script>
}





